[user]
	name = Frank Hock
	email = frank.hock@gmail.com

[color]
	ui = auto

[core]
	editor = zed --wait
	pager = less -FRX

[diff]
	algorithm = histogram

[fetch]
	prune = true

[init]
	defaultBranch = main

[merge]
	conflictstyle = diff3

[pull]
	rebase = true

[push]
	default = current

[rerere]
	enabled = true

[gitbutler]
	aiModelProvider = anthropic
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	append = town append
	compress = town compress
	contribute = town contribute
	diff-parent = town diff-parent
	down = town down
	hack = town hack
	delete = town delete
	observe = town observe
	park = town park
	prepend = town prepend
	propose = town propose
	rename = town rename
	repo = town repo
	set-parent = town set-parent
	ship = town ship
	sync = town sync
	up = town up
	clean-stale = "!git branch -v | grep \"\\\\[gone\\\\]\" | sed \"s/^[+* ]//\" | awk \"{print \\$1}\" | while read branch; do echo \"Deleting branch: $branch\"; git branch -D \"$branch\"; done"
